body {
    background-color: rgb(205, 201, 201);
    font-family: Arial, sans-serif;
    margin: 0;
}
div{
    box-sizing: border-box;

}

header {
    background-color: white;
    padding: 10px;
}

div.post {
    background-color: white;
    margin-top: 10px; 
}
header h1 {
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}
div.post img {
    width: 100%;
}
div.post h2, div.post p {
    padding: 10px ; 
    margin: 0% ;
  
}
div.post .post-header div:first-child {
    display:inline-block;
     width: 80%;
    
     

}
div.post .post-header div:last-child {
    display:inline-block;
     width: 18%;
     padding: 10px;
     text-align: right;
     color: gray;
     
    

}
